--create database hw13;
--drop schema if exists warehouse cascade;

create schema warehouse;

set search_path = warehouse,"$user",public;

/*
 * Абстрактный пример регистрации складских операций
 */

-- Производители
create table manufacturers (manufacturer_id integer not null, manufacturer_name varchar(128) not null);
alter table manufacturers add constraint manufacturers_pk primary key (manufacturer_id);
alter table manufacturers add constraint manufacturers_unique unique (manufacturer_name);

-- Единицы измерения
create table units (unit_id integer not null, unit_name varchar(64) not null);
alter table units add constraint units_pk primary key (unit_id);
alter table units add constraint units_unique unique (unit_name);

-- Товары
create table goods (goods_id integer not null, manufacturer_id integer, goods_name varchar(256) not null, unit_id integer, weight numeric);
alter table goods add constraint goods_pk primary key (goods_id);
create index goods_manufacturer_id_idx on goods (manufacturer_id);
create index goods_unit_id_idx on goods (unit_id);
alter table goods add constraint goods_manufacturers_fk foreign key (manufacturer_id) references manufacturers(manufacturer_id);
alter table goods add constraint goods_units_fk foreign key (unit_id) references units(unit_id);

-- Описание товаров
create table goodsdescriptions ( id integer generated always as identity not null, goods_id integer not null, description text null, updated timestamp default clock_timestamp() not null);
alter table goodsdescriptions add constraint goodsdescriptions_pk primary key (id);
create index goodsdescriptions_goods_id_idx on goodsdescriptions (goods_id);
alter table goodsdescriptions add constraint goodsdescriptions_goods_fk foreign key (goods_id) references goods(goods_id) on delete cascade;

-- Места хранения
create table storages (storage_id integer not null, storage_name varchar(64) null, capacity integer);
alter table storages add constraint storages_pk primary key (storage_id);
alter table storages add constraint storages_unique unique (storage_name);

-- Складские операции
create table operations (operation_id integer generated always as identity not null, goods_id integer not null, storage_id integer not null, quantity numeric not null);
alter table operations add constraint operations_pk primary key (operation_id);
create index operations_storage_id_idx on operations (storage_id);
alter table operations add constraint operations_goods_fk foreign key (goods_id) references goods(goods_id);
alter table operations add constraint operations_storages_fk foreign key (storage_id) references storages(storage_id);

-- Заполнение справочника производителей
insert into manufacturers (manufacturer_id, manufacturer_name)
	select generate_series, 'MF ' || generate_series::varchar(128) from (select generate_series(1, 100));

-- Заполнение справочика мест хранения
insert into storages (storage_id, storage_name, capacity)
	values(1, 'Storage 1', 100000), (2, 'Storage 2', NULL), (3, 'Storage 3', 450.75);

-- Заполнение справочника единиц хранения
insert into units (unit_id, unit_name)
	values(1, 'kg'), (2, 'oz.'), (3, 'pcs.'), (4, 'tn');

-- Заполнение справочника товаров (часть производителей и единиц измерения оставим неиспользуемыми)
insert into goods (goods_id, manufacturer_id, goods_name, unit_id, weight)
	select generate_series, floor(random() * (100 - 1 + 1) + 1)::integer, 'Item ' || generate_series::varchar(128),
		case mod(generate_series, 3) when 0 then null else floor(random() * (3 - 1 + 1) + 1)::integer end case,
		(random() * (1000 - 50 + 1) + 50)::numeric(7,3)
	from (select generate_series(1, 300));

-- Заполнение регистра операций на складе поступлениями (по одному товару каждого производителя, весовые товары )
insert into operations (goods_id, storage_id, quantity)
	select t.goods_id, floor(random() * (3 - 1 + 1) + 1)::integer, 
		case when unit_id < 3 then weight * (floor(random() * (1000 - 1 + 1) + 1)) else floor(random() * (1000 - 1 + 1) + 1) end case
	from (
		select *, row_number() over(partition by manufacturer_id order by goods_id desc) as rownumber from goods
		) t
	where t.rownumber = 1;
/*
 * -- Такая печальная печаль из-за очередной "детской болезни" - нельзя переименовать атрибут в отношении, если атрибут содержит CASE
 insert into operations (goods_id, storage_id, quantity)
	select goods_id, floor(random() * (3 - 1 + 1) + 1)::integer,
		weight * (floor(random() * (1000 - 1 + 1) + 1))
	from (
		select goods_id, case when unit_id < 3 then weight else 1::numeric end case as weight, row_number() over(partition by manufacturer_id order by goods_id desc) as rownumber from goods;
		) t
	where t.rownumber = 1;
*/

-- Заполнение регистра операций на складе списаниями (количеством не более количества поступления)
do $$
declare cnt integer = 20;	-- остановим списание как только количество добавляемых операций списания станет меньше 20 
begin
while cnt >= 20 loop
	begin
	insert into operations (goods_id, storage_id, quantity)
		select t.goods_id, storage_id, case when g.unit_id < 3 then quantity else floor(quantity) end case
		from (
				select goods_id, storage_id, ((random(0, sum(quantity)) * 0.03) * -1)::numeric(10,3) as quantity	-- чтобы сгенирить больше операций сделаем небольшое количество списания (3%)
				from operations
				group by goods_id, storage_id
				having sum(quantity) > 0
			) t
				inner join goods g
					on t.goods_id = g.goods_id
		where quantity <= -1;
	get diagnostics cnt = row_count;
	raise notice 'rows %', cnt;
	end;
end loop;
end;
$$

insert into goodsdescriptions (goods_id, description)
	values(285, 'IGBT+Z 375V, 20A, 125W (Logic-Level, for Ignition)
Напряжение кэ: 440 V
Максимальный ток кэ при 25гр. С: 50 A
Максимальный ток кэ при 100гр. С: 20 A
Мощность максимальная: 125 W
Управляющее напряжение: 1.3 V
Корпус: DPAK
Маркировка: NGD8201AG
Особенности: для применения в системах зажигания
Транзистор — это полупроводниковое устройство, которое используется для усиления или переключения электрического сигнала. Он состоит из трех слоев: эмиттера, коллектора и базы. Транзистор может работать в различных режимах, таких как активный, насыщенный и отсечки.
В активном режиме транзистор усиливает входной сигнал, контролируя ток между эмиттером и коллектором. В режиме насыщения транзистор обеспечивает максимальное усиление сигнала, а в режиме отсечки ток между эмиттером и коллектором отсутствует.
Транзисторы широко используются в электронике для построения усилителей, логических элементов, ключей и других устройств. Они играют важную роль в современной технике и позволяют эффективно управлять электрическими сигналами.
Общие характеристики
Артикул Маркета
101792657462
Бренд
Oem
Тип
Транзисторы, транзисторные сборки и модули
Дополнительно
Вес товара, г
3
Комплектация
1 шт NGD8201AG
Размеры, мм
DPAK
Состав комплекта
1 шт NGD8201AG
Тип корпуса для электрокомпонентов
Стандартный'),
	(286, 'Симистор BT137-800E DPAK (TO-252-3)WEIDA (8А 800В)
Тип Симистор 800В 8А 10мА четырехквадрантный (4Q) -40.125 °С;
низкий ток удержания и фиксации;
рекомендуются для использования на силовых нагрузках со средним и малым сопротивлением.
Производитель: WEIDA
Технические параметры
Серия BT137
Тип симистора Logic-Sensitive Gate
Конфигурация single
Ток в открытом состоянии IT(RMS): 8 A;
Повторяющееся пиковое напряжение в закрытом состоянии (Tj=25 °С) VDRM: 800 В;
Повторяющееся пиковое обратное напряжение (Tj=25 °С) VRRM: 800 В;
Неповторяющийся импульс пикового тока в открытом состоянии (полный цикл, F=50 Гц) ITSM: 65 А;
Пиковый ток затвора IGM: 2 А;
Ток открывания IGT: 10 мА (Q1-3), 25 мА (Q4)
Диапазон температур хранения: -40.150°С;
Диапазон рабочих температур перехода Tj: -40.125 °С
Тип корпуса: DPAK (TO-252-3)
Количество в упаковке, шт: 1
Общие характеристики
Артикул Маркета
103697813127
Бренд
Radiosfera
Ток
8 А
Цвет товара
серый
Тип
симистор
Напряжение
800 В, V'),
	(287, 'Симистор BTA16-800CWRG TO-220AB STM (16А 800В 35мА 3Q бесснабберный)
Симистор 800В 16А 35мА 3Q (бесснабберный)
Производитель: ST Microelectronics
Технические параметры
Серия BTA16
Тип симистора Alternistor- Snubberless
Конфигурация single
Максимальное напряжение в закрытом состоянии 800 В
Максимально допустимы ток в открытом состоянии 16 А
Ударный ток в открытом состоянии 160 А
Отпирающее постоянное напряжение управления, В 1.3 В
Отпирающий постоянный ток управления 35 мА
Ток удержания 35мА
Рабочая температура -40…+125 °C
Тип корпуса: TO-220AB
Количество в упаковке, шт: 1
Общие характеристики
Артикул Маркета
103051114395
Бренд
Radiosfera
Ток
16 А
Цвет товара
белый
Тип
симистор
Напряжение
800 В, V'),
	(288, 'Тип материала: Si
Полярность: NPN
Максимальная рассеиваемая мощность (Pc): 20 W
Макcимально допустимое напряжение коллектор-база (Ucb): 120 V
Макcимально допустимое напряжение коллектор-эмиттер (Uce): 100 V
Макcимально допустимое напряжение эмиттер-база (Ueb): 6 V
Макcимальный постоянный ток коллектора (Ic): 3 A
Предельная температура PN-перехода (Tj): 150 °C
Граничная частота коэффициента передачи тока (ft): 180 MHz
Ёмкость коллекторного перехода (Cc): 25 pf
Статический коэффициент передачи тока (hfe): 70
Корпус транзистора: TO251
Общие характеристики
Артикул Маркета
101473298706
Ток
3 А
Цвет товара
черный
Тип
транзистор')

/*
-- Создаём индекс по ссылкам на товары в таблице складских операций.
create index operations_goods_id_idx on operations (goods_id);

-- Проверим план выполнения запроса рассчёта остатков по товарам (с индексом по товарам).
explain (costs, analyze)
select sum(quantity) as rest from operations where goods_id = 285 group by goods_id;


-- Добавляем в справочник описаний товаров колонку для хранения лексем и индексы к ней (по новой колонке и по функции вычисления лексем).
alter table goodsdescriptions add column description_lexeme_russian tsvector generated always as (to_tsvector('russian', description)) stored;
create index goodsdescriptions_description_lexeme_russian_idx on goodsdescriptions using gin (description_lexeme_russian);
create index goodsdescriptions_description_lexeme_russian_fn_idx on goodsdescriptions using gin (to_tsvector('russian', description));

-- Проверим план выполнения запроса с использованием полнотекстового индекса по функции.
explain (costs, analyze)
select description from goodsdescriptions g where to_tsvector('russian', description) @@ to_tsquery('russian', 'корпус & мощность');

-- Проверим план выполнения запроса с использованием полнотекстового индекса по колонке.
explain (costs, analyze)
select description from goodsdescriptions g where description_lexeme_russian @@ to_tsquery('russian', 'корпус & мощность'); 

-- "Помогаем" интерпретатору построить план с использованием индекса по колонке description_lexeme_russian, не указывая наименование конфигурации в функции `to_tsquery`.
explain (costs, analyze)
select description from goodsdescriptions g where description_lexeme_russian @@ to_tsquery('корпус & мощность'); 

-- Переключаем конфигурацию полнотекстового поиска на 'russian'.
set default_text_search_config = 'pg_catalog.russian'

-- Проверим получение результата при использовании индекса по колонке.
explain (costs, analyze)
select description from goodsdescriptions g where description_lexeme_russian @@ to_tsquery('корпус & мощность'); 


-- Создаём функцию, которая вернёт класс числа (от единиц до миллионов).
create function warehouse.numberclasses (number numeric)
returns integer
as
	'select case when abs(number) >= 1000000 then 1000000 when abs(number) >= 1000 then 1000 when abs(number) >= 100 then 100 when abs(number) >= 10 then 10 else 1 end'
language sql;

-- Создаём индекс по результатам вычисления функции numberclasses.
create index operations_numberclasses_quantity_idx on operations (numberclasses(quantity));

-- Проверим план выполнения запроса с использованием индекса по функции
explain (costs, analyze)
select * from operations o where numberclasses(quantity) = 100;

-- Создаём частичный индекс по результатам вычисления функции numberclasses (тысячи).
create index operations_numberclasses_quantity_k_idx on operations (numberclasses(quantity)) where (numberclasses(quantity) = 1000);

-- Проверим план выполнения запроса с использованием индекса по функции
explain (costs, analyze)
select * from operations o where numberclasses(quantity) = 1000;

-- Создаём составной индекс в таблице складских операций, включая в индекс ссылки на товары и количество. Ожидаем, что он сработает, как покрывающий запрос индекс.
create index operations_goods_id_quantity_idx on warehouse.operations (goods_id,quantity);

-- Проверим план выполнения запроса рассчёта остатков по товарам (с индексом по товарам и количеству)
explain (costs, analyze)
select sum(quantity) as rest from operations where goods_id = 285 group by goods_id;
*/
